#contact
  .row
    .span4
      = simple_form_for @message do |f|
        = f.input :email
        = f.input :title, label: "Subject"
        = f.input :content, as: :text, input_html: { rows: 10 }, label: "Message"

        = f.submit "Send Message", class: "btn btn-primary"
    .span7.offset1
      = photo "contact"
