!!!
%html
  %head
    %title Mike Odmark
    %meta{ name: "viewport", content: "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "//use.typekit.net/jaq1ezd.js"
    :javascript
      try{Typekit.load();}catch(e){}
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  #wrapper
    .container
      %header
        %nav
          %ul
            = nav_link "Blog", posts_path, @current_page
            = nav_link "Info", info_path, @current_page
            %li.logo
              = link_to root_path do
                = image_tag "logo.png"
            = nav_link "Work", work_path, @current_page
            = nav_link "Contact", new_message_path, @current_page
        = image_tag "div.png"

      %section#content
        - [:success, :alert, :error].each do |level|
          - unless flash[level].blank?
            .alert{ class: level }
              %a.close{ href: "#", data: { dismiss: "alert" } }
                = image_tag "icons/x.png"
              = flash[level]

        = yield

      #footer-push

  %footer
    .container
      #fine-print
        = "All rights reserved ©#{Date.today.year}."
        Website by
        = link_to "Some Weather Web Design & Programming", "http://www.someweather.com"
        |
        - if admin_signed_in?
          = link_to "Sign out", destroy_admin_session_path, method: :delete
        - else
          = link_to "Sign in", new_admin_session_path
